langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-openai
langchain-google-genai
langchain-core
faiss-cpu
pypdf
sentence-transformers
transformers
torch
huggingface_hub
groq
streamlit
langsmith
python-dotenv
tiktoken
torch
torchvision
